

#chat-screen {
    background-color: #ABC1D1;
    height: 1000vh;
}


.chat-screen {
    display: flex;
    flex-direction: column;
}

.chat__contents {
    width: 100%;
    margin-top: 72px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chat__time {
    background-color: #92A4B2;
    color: white;
    text-align: center;
    padding: 8px 8px;
    margin-bottom: 24px;
    border-radius: 20px;
}

.chat__messeges {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 8px;
}

.chat__messeges-profile {
    background-color: pink;
    width: 60px;
    height: 60px;
    border-radius: 24px;
    margin-right: 8px;
}

.chat__messeges-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.chat__messeges-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.chat__messeges-text {
    background-color: white;
    border-radius: 12px;
    border-top-left-radius: 0px;
    padding: 12px;
    margin-right: 8px;
}

.chat__mymesseges {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    justify-content: flex-end;
    width: 100%;

}

.chat__mymesseges-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.chat__mymesseges-text {
    background-color: #FEE500;
    border-radius: 12px;
    border-top-right-radius: 0px;
    padding: 12px;
}

.chat__mymesseges-time {
    margin-right: 8px;
}

.messeges-input {
    display: flex;
    align-items: center;
    background-color: white;
    width: auto;
    height: auto;
    padding: 8px 16px;
}

.messeges-input i {
    width:36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

.yellow-button {
    background-color: #FEE500;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messeges-input__box {
    position: relative;
    width:100%;
    height:48px;
}

.messeges-input__box * {
    margin-left: 4px;
}

.yellow-button i {
    color:#191919;
}

.messeges-input__box input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border : solid 1px #E7E7E8;
    background-color: #F8F8F8;
    border-radius: 32px;
    padding: 4px 0;
    width:100%;
    height: 48px;
}

.messeges-input__box i {
    margin-left: 4px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messeges-input__button {
    margin: auto 0;
    display: flex;
    position: absolute;
    top:5px;
    right:0;
}