.find-screen {
    padding: 0px var(--horizontal-space);
}


.find-screen__recommended-friends-header {
    margin-top: 16px;
    height: 36px;
    border-top: solid 1px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.find-screen__recommended-friends-header span {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.3);
}

.find-screen__recommended-friends-header i {
    color: rgba(0,0,0,0.3);
}


.find-screen__recommended-friends-main {
    display: flex;
    justify-content: center;
}
}

.find-screen__open-chat-header {
    margin-top: 16px;
    height: 36px;
    border-top: solid 1px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.find-screen__open-chat-header span {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.3);
}

.find-screen__open-chat-header i {
    color: rgba(0,0,0,0.3);
}