.badge {
    display: flex;
    background-color: #FF6229;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    justify-content:center;
    color: white;
    font-weight: 600;
    align-items: center;
}

.badge-sm {
    display: flex;
    background-color: #FF6229;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    justify-content:center;
    color: white;
    font-size: 10px;
    font-weight: 600;
    align-items: center;
}