#no-mobile {
    position: absolute;
    z-index:99;
    height:100vh;
    width:100vw;
    background-color: var(--yellow);
    display: flex
    justify-content: center;
    align-item:center;
    font-size:32px;
    top:0;
}